
.title {
    position: absolute; top: 450px; right: 50px; 
    color: #fff; text-align: center;
}
.title .description{font-size: 0.9em;}
.title .title_1{font-size: 2.0em; font-weight: bold;}
.contact{margin: 20px 0; padding: 10px 20px;border: 1px solid white;}

/*main*/
div{_border: 1px solid #cccccc; padding: 0px; margin: 0 auto;text-align: center;
}
#con{ width: 100%; margin: 0 auto; overflow: hidden;}
/*#header{width:1280px;  height: 100px; line-height: 70px;}*/
.header_logo img{ width: 300px; height:49px; margin-top: 10px;}
/*
#nav{ width: 1920px; height: 50px; background: black; position: relative; padding-left: 0px;}
#nav ul {width: 1280px; overflow: hidden; color: aliceblue; display: block; margin-left: 300px;}
#nav ul li{width: 250px; height: 44px; line-height: 40px; text-align: center;list-style: none; float: left; border: 1px; }
*/
/*_________________________________________________________________________________________________________________________________________________*/
/*<header>*/
html{height: 150%;}
body {margin: 0;}

div#header{ background: white; margin: 0; padding:0; list-style: none; position: fixed; 
    width: 100vw; left: 0; right: 0; top: 0; box-sizing: border-box; color: #000; height: 200px;z-index: 10;}
#header>.header_logo {
    display: inline-block;  color: #000; position: absolute; width: 100%; list-style: none;
    background: yellow;
    
}
#header>.header_logo>img {
    display: inline-block;
    padding: 0px 20px;
    color: white; 
    
}
/*

#header{ position: fixed; top: 0; left: 0; right: 0; width: 100vw; border-spacing: border-box;}
#header {z-index: 200; color: #000;}
#header .header_logo{right: 30px; height: 96px; color: #000; background: white; border-top: 8rem solid #000; opacity: 1;}

#header .header_logo{ transition: top 0.2s ease 0s;}
*/

/*nav*/

.navbar { background: black; margin: 0; padding: 0; list-style: none; width: 100%; transition: transform .3s; 
position: relative; top: 59px; }
.navbar.hide {transform: translateY(-400%);}
.navbar>li { display: inline-block; padding: 10px 20px;}
.navbar>li>a {display: block; text-decoration: none;  color: white;}
.navbar>li>a:hover {background: deeppink;}

.swiper-wrapper{ _top:100px; }
/*#banner{ width: 100%; height: 100%}*/

#contents{width: 1280px; border: 4px solid none; margin: 0px auto; margin-top: 50px;}
#left{width: 33.3%; background: _#eee;height: 500px; float: left;}
/*#left img {width: 350px; padding: 30px;}*/
.main-title{ clear: both; height: 130px; margin: 10px;}
.main-title img {width: 350px; padding: 30px;}
.main-title name{float:left; width: 200px; margin-left: 20px;}
#center{ width: 33.3%; background: #ffff;height: 500px; float: left;}
#center img{width: 350px; padding: 30px;}
#right{width: 33.3%; background: #ffff; height: 500px; float: right;}
#right img{width: 350px; padding: 30px;}

#contents .name p {margin: 0 0 10px;}
#contents .click a{text-decoration: none; border-bottom: 2px solid #ececec; padding: 0 0 .4375rem}


/*banner*/
.clear{content: ''; display: block; clear: both;}
.contents2{margin-top: 10px; width: 100%; border: 1px solid #000; position: relative; overflow: hidden; }
.banner{margin-top: 10px; width: 1280px; height: 370px; border: 1px solid #000; position: relative; overflow: hidden;}
.banner ul {position: absolute; left: 0; top: 0;}
.banner ul li{float: left; width: 1280px; height: 370px;}
.banner ul li img{display: block; width: 250px; float: right; }
.banner ul li .img2{display: block; width: 300px; float: right; margin: 30px; margin-top: 100px }

.banner .b1{ background: #fec3bb; padding: 30px;}
.banner .b2{ background: #c3c2d2; padding: 30px;}
.banner .b3{ background: #fce3c5; padding: 30px;}

.banner .b1 div {margin-top: 100px;}
.banner .b2 div {margin-top: 100px;}
.banner .b3 div {margin-top: 100px;}

.banner .b1 a:nth-child(1) {font-size: 25px;}
.banner .b1 a:nth-child(2) {font-size: 30px;}
.banner .b1 p:nth-child(3) {font-size: 22px;}

.banner .b2 a:nth-child(1) {font-size: 25px;}
.banner .b2 a:nth-child(2) {font-size: 30px;}
.banner .b2 p:nth-child(3) {font-size: 22px;}

.banner .b3 a:nth-child(1) {font-size: 25px;}
.banner .b3 a:nth-child(2) {font-size: 30px;}
.banner .b3 p:nth-child(3) {font-size: 22px;}

.b1 div p{margin: 10px; color: #fff;}
.b2 div p{margin: 10px; color: #fff;}
.b3 div p{margin: 10px; color: #fff;}


/*contents3*/

#contents3{width:1280px; border: 4px; margin: 0px auto;}

.item h1{ margin: 50px;}

.item1 {width: 319px; height: 400px; background: _#eee; float: left;}
.item2 {width: 319px; height: 400px; background: _#eee; float: left;}
.item3 {width: 319px; height: 400px; background: _#eee; float:left;}
.item4 {width: 319px; height: 400px; background: _#eee; float: right;}

.item1 img{ width: 300px;}
.item2 img{ width: 300px;}
.item3 img{ width: 300px;}
.item4 img{ width: 300px;}


/*contents4*/

#contents4{width: 1280px;border: _4px solid #000; margin: 0 auto;  }
.event1 { width: 633px; height: 370px; background: _red; float: left;}
.event2 { width: 630px; height: 370px; background: #eee; float: right;}




/*SnsBox*/
.sns{width: _1160px;}
.sns h3{margin-top: 70px; font-size: 25px;}
.sns p{ margin: 7px;}
.sns{margin-top: 10px; width: 100%; border: 0px solid #000; position: relative; overflow: hidden;}
.snsbox{margin-top: 10px; width: 1122px; height: 260px; border: 1px solid #000; position: relative; overflow: hidden;}
.clear2{content: ''; display: block; clear: both;}
.snsbox ul {position: absolute; left: 0; top: 0;}
.snsbox ul li{float: left; width: 280px; height: 300px;}
.snsbox ul li img{display: block; width: 270px; }

/*footer*/

#footer{ background: gray; height: 100px; clear: both;}