

/*index*/
.bg {max-width: 1920px; margin: 0 auto; position: relative;}
.title {padding: 10px; }

#bg .bg_logo {
    position: absolute; top: 150px; left: 50%;
    transform: translate(-50%);
    
}
.title {
    position: absolute; top: 450px; right: 50px; 
    color: #fff; text-align: center;
}
.title .description{font-size: 0.9em;}
.title .title_1{font-size: 2.0em; font-weight: bold;}
.contact{margin: 20px 0; padding: 10px 20px;border: 1px solid white;}

/*main*/
div{_border: 1px solid #cccccc; padding: 0px; margin: 0 auto;text-align: center;
}
/*
#con{ width: 1920px; margin: 0 auto; overflow: hidden;}
#header{width:1280px;  height: 100px; line-height: 70px;}
*/
.header_logo img{ width: 300px; height:49px; margin-top: 10px;}
